.modal{
    position: absolute;
    width: 300px;
    border-radius: 10px;
    max-height: 90vh; 
    background: rgb(247, 247, 247) ;
    right: 0;
    margin: 0rem 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: -0.2rem;
    z-index: 30;
    
}

.user{
    margin-top: 1rem;
    font-size: 4.5rem;
    text-align: center;
    color:#bbbbbb;
}

form{
    margin: 1rem;
}

form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 5px;
}

form div label{
    color: var(--dark-gray);
}

form div input{
    font-size: 1rem;
    padding: 7px;
}

.form-modal > button{  
    background-color: var(--primary);
    border: none;
    color: white;
    font-size: 1.1rem;
    min-width: 100%;
    padding: 10px;
    
  }

  .footer-modal{
      margin: 1rem;
      display: flex;
  }
  
  .footer-modal p {
      font-size: 13px;
      margin-right: 0.3rem;
  }

  .footer-modal > button{
      border: none;
      background: none;
      color: #2fa8f8;
      font-size: 13px;
  }